@import "@/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.3rem 2.4rem;
  border-bottom: 0.1rem solid $light-300;
  background-color: $light-100;
  &.dark {
    background-color: $dark-200;
    border-color: $dark-100;
  }
  .right {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
}
