@import "@/variables";
@import "@/styles/_mixins.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  &:not(.show) {
    display: none;
  }
  @include tablet() {
    display: none;
  }
}
.container {
  position: fixed;
  border-radius: 0.8rem;
  opacity: 0;
  top: 12rem;
  transition: z-index 0.3s, opacity 0.3s;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 26rem;
  &.showMobile {
    z-index: 1;
    opacity: 1;
  }
  @include tablet() {
    z-index: 1;
    opacity: 1;
    height: 100vh;
    width: 300px;
    position: static;
    left: unset;
    transform: unset;
    border-radius: 0;
    border-right: 0.1rem solid $light-300;
    display: flex;
    &.hidden {
      display: none;
    }
  }
  flex-direction: column;
  justify-content: space-between;
  background-color: $light-100;
  .logo {
    margin: 3.3rem 0 0 3.3rem;
    display: none;
    @include tablet() {
      display: block;
    }
  }
  .logoMobile {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    @include tablet() {
      display: none;
    }
  }
  .boardTitle {
    margin-left: 2.4rem;
    margin-top: 1.6rem;
    @include tablet() {
      margin-left: 3.2rem;
      margin-top: 5.2rem;
    }
  }
  .boards {
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    margin-right: 2.4rem;
    .board {
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      padding: 1.5rem 0 1.5rem 3.2rem;
      cursor: pointer;
      color: $light-400;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 1.5rem;
      font-weight: 700;
      border-radius: 0 10rem 10rem 0;
      &.active {
        background-color: $primary-200;
        color: $light-100;
      }
    }
    .newBoard {
      color: $primary-200;
      .newBoardLabel {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
  .theme {
    margin: 2.4rem;
    display: flex;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    background-color: $light-200;
    border-radius: 0.5rem;
  }
  .hideLabel {
    display: none;
    align-items: center;
    gap: 1.5rem;
    color: $light-400;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2.4rem;
    margin-bottom: 3.8rem;
    cursor: pointer;
    @include tablet() {
      display: flex;
    }
  }
  &.dark {
    background-color: $dark-200;
    border-color: $dark-100;
    .theme {
      background-color: $dark-300;
    }
  }
}

.showButton {
  display: none;
  position: fixed;
  bottom: 2.4rem;
  left: 0;
  background: red;
  padding: 2rem 2.5rem;
  border-radius: 0 50px 50px 0;
  background-color: $primary-200;
  cursor: pointer;
  @include tablet() {
    display: block;
    &.hidden {
      display: none;
    }
  }
}
