@import "@/variables";
.button {
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 1.4rem 2.4rem;
  user-select: none;
  white-space: nowrap;
  font-weight: 900;
  line-height: normal;
  font-size: 1.3rem;
  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

.primary {
  @extend .button;
  background-color: $primary-200;
  color: $light-100;
  &:hover {
    background-color: $primary-100;
  }
}

.primary-large {
  @extend .primary;
  font-size: 1.5rem;
}

.secondary {
  @extend .button;
  background-color: rgba($primary-200, 0.1);
  color: $primary-200;
  &:hover {
    background-color: rgba($primary-200, 0.25);
  }
  &.dark {
    background-color: $light-100;
  }
}

.destructive {
  @extend .button;
  background-color: $accent-200;
  color: $light-100;
  &:hover {
    background-color: $accent-100;
  }
}
