@import "@/variables";

.group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.label {
  color: $light-400;
  font-size: 1.2rem;
  font-weight: 700;
}

.inputWrapper {
  background: $light-100;
  border: 0.15rem solid rgba(130, 143, 163, 0.25);
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  font-size: 1.3rem;
  width: 100%;
  transition: border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.error {
    border-color: $accent-200;
  }
  .errorMessage {
    color: $accent-200;
    font-weight: 500;
    font-size: 1.3rem;
  }
}
