@import "@/variables";

.group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  .label {
    color: $light-400;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .inputWrapper {
    background: $light-100;
    border: 0.15rem solid rgba($light-400, 0.25);
    border-radius: 0.4rem;
    padding: 1.2rem 1.6rem;
    font-weight: 500;
    font-size: 1.3rem;
    width: 100%;
    transition: border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.error {
      border-color: $accent-200;
    }
    .errorMessage {
      color: $accent-200;
      font-weight: 500;
      font-size: 1.3rem;
    }
    .input,
    .textarea {
      background: transparent;
      border: none;
      outline: none;
      flex: 1;
      width: 100%;
      &::placeholder {
        color: rgba($dark-400, 0.25);
        font-weight: 600;
      }
    }
    .textarea {
      resize: none;
      height: 11rem;
      line-height: 2.3rem;
    }
  }
  &.focus {
    .inputWrapper {
      border-color: $primary-200;
    }
  }
  &.dark {
    .label {
      color: $light-100;
    }
    .inputWrapper {
      background-color: $dark-200;
      .input,
      .textarea {
        color: $light-100;
        &::placeholder {
          color: rgba($light-100, 0.25);
        }
      }
    }
  }
}
