@import "@/variables";

.checkboxInput {
  display: none;
  &:checked + .checkbox {
    background-color: $primary-200;
  }
}
.checkbox {
  box-sizing: border-box;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(130, 143, 163, 0.25);
  background: $light-100;
}
