$dark-400: #000112;
$dark-300: #20212c;
$dark-200: #2b2c37;
$dark-100: #3e3f4e;
$light-400: #828fa3;
$light-300: #e4ebfa;
$light-200: #f4f7fd;
$light-100: #ffffff;
$primary-200: #635fc7;
$primary-100: #a8a4ff;
$accent-200: #ea5555;
$accent-100: #ff9898;
